# Entorno
ENV=development

# PostgreSQL / TimescaleDB
POSTGRES_USER=sensoruser
POSTGRES_PASSWORD=sensorpass
POSTGRES_DB=sensordata

DB_HOST=chirpstack_timescaledb_dev
DB_PORT=5432
DB_USER=sensoruser
DB_PASS=sensorpass
DB_NAME=sensordata

# MQTT Externo
MQTT_BROKER=mosquitto_Dev
MQTT_PORT=8883
MQTT_TOPIC=application/+/device/+/event/up
MQTT_KEEPALIVE=60
MQTT_CTX_DIR=/app/app/ctx/dev

# API
APP_MODULE=app.main:app
PORT=8999
HOST=0.0.0.0
API_HOST=0.0.0.0
WORKERS=1


